<body *ngIf="officeInView">
  <header>
    <div class="heading">
      <p (click)="goBack()"> <img id="back" src="../../../assets/images/back2.png"/></p>
      <h1>
        <span>{{ officeInView.name }}</span>
      </h1>
    </div>

    <div class="office-details">
      <p>address: {{ officeInView?.location }}</p>
      <p>Email: {{ officeInView?.email }}</p>
      <p>Office : {{ officeInView?.tellNumber }}</p>
      <p>Max Capacity: {{ officeInView?.maxNumberOfOccupants }}</p>
    </div>
  </header>

  <div class="search">
    <input type="text" placeholder="  search..." [(ngModel)]="filterString"/>
  </div>

  <div class="staff" *ngIf="officeInView">
    <h4>
      <span *ngIf="officeInView.staffMembers.length">Staff Members </span
      >{{ officeInView.staffMembers.length }} /
      {{ officeInView?.maxNumberOfOccupants }}
    </h4>
    <button (click)="addStaff(true)">Add Staff</button>
  </div>

  <div class="staffmembers" *ngIf="staffMembers.length >= 0">
    <div *ngIf="officeInView.staffMembers">
      <div class="staff-cards" *ngFor="let member of staffMembers | search:filterString">
        <div class="staff-card-right">
          <img
            src="https://cdn2.iconfinder.com/data/icons/colored-simple-circle-volume-01/128/circle-flat-general-51851bd79-512.png"
          />
          <p>{{ member.name }} {{ member.lastname }}</p>
        </div>
        <button
         *ngIf="popUp == false" (click)="onSelect(member)">...</button>
        <!-- emit -->
        <app-edit-delete-pop-up
          *ngIf="popUp == true && member == selectedMember"
          (closePopUEmitter)="showPop($event)"
          [selectedMember]="selectedMember"
        >
        </app-edit-delete-pop-up>
      </div>
    </div>
  </div>
</body>

<app-add-staff
*ngIf="popUp == true && addStaffPopUp == true"
  (addStaffPopUp)="addStaff($event)"
></app-add-staff>

<!-- *ngIf="addStaffPopUp == true" -->
<!-- used for test -->
<!-- (closePopUEmitter)="showPop($event)" -->

<!-- (editStuffPopUp)="showPop($event)" -->